@import "app/styles/vars.scss";

.formWrapper {
  padding: 40px 60px;
  border: 2px solid $mainColor;
  border-radius: 10px;
  font-size: 16px;
  min-width: 40%;

  @media (max-width: 1440px) {
    padding: 40px 20px;
    min-width: 45%;
  }
  @media (max-width: 992px) {
    min-width: 60%;
  }
  @media (max-width: 992px) {
    min-width: 70%;
  }

  @media (max-width: 576px) {
    padding: 0;
    border: none;
  }
}
.form {
  width: 100%;
}
.formTitle {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  @media (max-width: 576px) {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
