@import "app/styles/vars.scss";

.formWrapper {
  padding: 40px 60px;
  border: 2px solid $mainColor;
  border-radius: 10px;
  font-size: 16px;
  min-width: 600px;
}
.formTitle {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
