$-color--: rgb(170, 170, 170);

.link {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  transition: color 0.5s;
  &:hover {
    color: $-color--;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $-color--;
    transition: all 0.3s;
    height: 2px;
    width: 50%;
    opacity: 0;
  }
  &::before {
    left: -50%;
    top: -10px;
  }
  &:hover::before {
    opacity: 1;
    left: 0;
    top: -5px;
  }
  &:hover::after,
  &:hover:before {
    opacity: 1;
  }
  &::after {
    right: -50%;
    bottom: -10px;
  }
  &:hover::after {
    bottom: -5px;
    right: 0;
  }
}
